button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #ddd;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}